@font-face {
    font-family: 'icones';
    src: url(../assets/font/icones.ttf);
}

.cabecalho {
    background-color: var(--branco);
    width: 100vw;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    z-index: 2;

}
.cabecalho__menu i::before{
    font-family: 'icones';
    content: '\e904';
    font-size: 24px;
}

.cabecalho__logo {
    margin-bottom: 1rem;
    height: 160px;
    border-radius: 90px;
    background-color: black;
    position: relative;
    top: 25px;
    z-index: 2;
}

.menu-aba {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: var(--cinza-medio);
    border-radius: 0 0 20px 20px;
    position: absolute;
    top:-100vh;
}
.menu-aba--ativo {
    transition: .25s;
    position: absolute;
    top: 150px;
}

.menu-aba__links {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem .7rem;
}
.menu-aba__links::before{
    font-family: 'icones';
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}
.menu-aba__links__conteudo {
    color: black;
    margin: 0 .7rem 0 .7rem;
    padding: .8rem 0;
}

.cabecalho__linksExternos {
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-end;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

.menu-aba__link--inicio::before{
    font-family: 'Open Sans', 'icones', sans-serif;
    content: '\e902';
}
.menu-aba__link--equipe::before{
    font-family: 'Open Sans', 'icones', sans-serif;
    content: '\e900';
}
.menu-aba__link--galeria::before{
    font-family: 'Open Sans', 'icones', sans-serif;
    content: '\e903';
}
.menu-aba__link--videos::before{
    font-family: 'Open Sans', 'icones', sans-serif;
    content: '\e90e';
}
.menu-aba__link--contato::before{
    font-family: 'Open Sans', 'icones', sans-serif;
    content: '\e908';
}

.menu-aba__link--ativa{
    font-weight: bold;
    border-top: 3px solid var(--cinza-escuro);
    border-bottom: 3px solid var(--cinza-escuro);
}


