.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    background-color: black;
    color: var(--branco);
    top: -40px;
    position: relative;
    padding: 5px;
    border-radius: 20px;
}
.principal__inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
}
.titulos-secudarios{
    color: var(--branco);
    justify-self: center;
}
.imagem_de_fundo{
    width: 100vw;
}
.contato__maps{
    width: 75vw;
    height: auto;
}
.principal__equipe{
    width: 75vw;
}
.imagem-de-perfis{
    width: 100px;
    height: auto;
    
}
.nome-membro-equipe{
    color: var(--branco);
}
.descricao-membro-equipe{
    color: var(--branco);
    flex-wrap: wrap;
}
.cartao-individual{
    display: flex;
}
